/* tablet */
@media (min-width: 481px) and (max-width: 1023px) {
  #gridAreas {
    display: inline-grid;
    /* Grid Areas */
    grid-template-areas: "menu menu" "marcas marcas" "destacados destacados" "categorias categorias" "pie pie";
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px; }
  /*Flex*/
  .destacadoImg {
    display: flex;
    flex-direction: column; }
  .menuFlex {
    display: flex;
    flex-direction: column; }
  body {
    width: 100%;
    background: #01a28a; } }

/*Mobile*/
@media (max-width: 480px) {
  #gridAreas {
    display: inline-grid;
    /* Grid Areas */
    grid-template-areas: "menu menu" "marcas marcas" "destacados destacados" "categorias categorias" "pie pie";
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px; }
  /*Flex*/
  .destacadoImg {
    display: flex;
    flex-direction: column; }
  .menuFlex {
    display: flex;
    flex-direction: column; }
  body {
    width: 100%;
    background: #01a28a; }
  .tamImg {
    width: 250px;
    height: 250px; } }

.body-mujer {
  background-color: #02e0bf;
  border: #02e0bf; }

.body-hombre {
  background-color: #076355;
  border: #076355; }

.body-ninio {
  background-color: #058f55;
  border: #058f55; }

/* EXTENDS */
.titulos, .titulo-dos {
  border: 1px #00201c;
  background-color: #0bbb80;
  padding: 10px; }

.titulo-dos {
  background-color: #7ef1e0; }

/* MIXINS*/
.tamImg {
  width: 350px;
  height: 350px; }

.tamImgPro {
  width: 450px;
  height: 450px; }

body {
  width: 100%;
  height: 100vh;
  background: #01a28a; }
