/* tablet */
@media (min-width: 481px) and (max-width: 1023px){

    #gridAreas {
        display: inline-grid;
    
        /* Grid Areas */
        grid-template-areas: 
        
        "menu menu" /* fila 1 */
        "marcas marcas"/* fila 2 */
        "destacados destacados"/* fila 3 */
        "categorias categorias"/* fila 4 */
        "pie pie" /*fila 5*/
        ; 
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
    /*Flex*/

    .destacadoImg{
        display: flex;
        flex-direction: column;
    }
    .menuFlex {
        display: flex;
        flex-direction: column;
    }
    body {
        width: 100%;
        background: #01a28a;
    }
}
/*Mobile*/

@media (max-width: 480px){
    #gridAreas {
        display: inline-grid;
    
        /* Grid Areas */
        grid-template-areas: 
        
        "menu menu" /* fila 1 */
        "marcas marcas"/* fila 2 */
        "destacados destacados"/* fila 3 */
        "categorias categorias"/* fila 4 */
        "pie pie" /*fila 5*/
        ; 
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
    /*Flex*/

    .destacadoImg{
        display: flex;
        flex-direction: column;
    }
    .menuFlex {
        display: flex;
        flex-direction: column;
    }
    body {
        width: 100%;
        background: #01a28a;
    }
    .tamImg{
        width: 250px;
        height: 250px;
    }
}