/*Estilos generales*/

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
	margin: 0;
	padding: 0;
	text-decoration:none;
}

img{
    padding: 15px;
}
/*.border {
    background-color: #d3d3d3;
}*/
ul a li{
    display: inline;
	padding: 10px;
	color: black;
}
ul li:hover {
    background-color: #007e68;
    color: white;
}



/*Grid Areas*/

#gridAreas {
    display: inline-grid;

    /* Grid Areas */
    grid-template-areas: 
    
    "menu" /* fila 1 */
    "marcas"/* fila 2 */
    "destacados"/* fila 3 */
    "categorias"/* fila 4 */
    "pie" /*fila 5*/
    ; 
    grid-template-columns: 100%;
    grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

/*Nombrar areas*/

header {
    grid-area: menu;
    padding: 15px;
    background: #3ce0c8;
}
footer {
    grid-area: pie;
    padding: 15px;
    background: #007e68;
}
#marcas {
    grid-area: marcas;  
    padding: 15px;
}
#destacados {
    grid-area: destacados;
    padding: 15px;
}

#categorias{
    grid-area: categorias;
    padding: 15px;
}
#producto{
    grid-area: categorias;
    padding: 15px;
}
/*Flex*/

.menuFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.marcasFlex{
    display: flex;
    flex-direction: column;
}
.destacadoFlex{
    display: flex;
    flex-direction: column;
}
.destacadoImg{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}
.categoriaFlex{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.footFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.productoFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.productoDesc{
    display: flex;
    flex-direction: column;
    width: 45%;
}

